# location : /etc/systemd/system/thermo.service
# systemctl daemon-reload
# systemctl enable thermo.service
# systemctl start thermo.service
# systemctl list-units --type=service --state=running

[Unit]
Description=Thermo service
After=graphical-session.target
StartLimitIntervalSec=1

[Service]
Type=simple
ExecStartPre=/bin/sleep 10
ExecStart=/home/picture/thermo/src/runner
Restart=always
RestartSec=1

[Install]
WantedBy=default.target